/* Start Media Query */
@media (max-width: 399px) {
  .home {
    background-position: 100% 100%;
  }
  .home .main-text h1 {
    font-size: 3rem;
  }

  .home .main-text h2 {
    font-size: 3rem;
  }
  .projects .proj .overlay {
    background: none;
  }

  .text {
    display: none;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .home {
    background: none;
    height: 500px;
  }

  .home .main-text h1 {
    font-size: 3.5rem;
  }

  .home .main-text {
    color: #000;
    margin-top: 50px;
  }
  .home .main-text h1 {
    font-size: 4rem;
  }

  .home .main-text p {
    font-size: 1.2rem;
  }

  .home .main-text h2 {
    font-size: 3.5rem;
  }

  .services .skill h3 {
    font-size: 1.3rem;
  }
  .projects .proj .overlay {
    background: none;
  }
  .text {
    display: none;
  }

  .control-btn {
    bottom: 35%;
  }
}

/* Small Screen - Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .home h2.name {
    font-size: 3rem;
  }
}

/* Medium Screen */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* Large Screen */
@media (min-width: 1200px) {
  .home .main-text {
    color: #000;
    margin-top: 100px;
    position: absolute;
    top: 10%;
    left: 5%;
  }
}

/* End Media Query */
