@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Baloo Tamma";
  src: url("../fonts/Baloo_Tamma/BalooTamma-Regular.ttf") format("truetype");
}

.wrapper {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url("../images/first.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

/* Start Navbar */
.wrapper .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.wrapper .navbar .navbar-collapse {
  text-align: center;
}
/* End Navbar */

/* Start Home Section */
.home {
  position: relative;
  min-height: 100vh;
}

.home .info {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px;
  opacity: 0.9;
  text-align: center;
  transform: translate(-50%, -50%);
}

.info ul.links {
  list-style-type: none;
  margin-top: 5px;
  padding-left: 0;
}

.info ul.links li {
  display: inline-block;
  padding-right: 10px;
}
.info ul.links li a {
  color: #57e4d9;
}

.home h2.name {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 3.5em;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Baloo Tamma";
  color: #000;
}

.home .info p.job {
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #ed0054;
  font-size: 2rem;
  margin-bottom: 30px;
}
/* End Section One */

/* Start Skills Section */
.services {
  background: url("../images/two.jpeg") no-repeat;
  background-size: cover;
  padding-top: 70px;
  height: 100vh;
}

.services h2 {
  margin: 0;
  font-family: "Baloo Tamma", cursive;
  margin-bottom: 30px;
  font-size: 5rem;
}

.services .skill {
  text-align: center;
  border: 1px solid #dedede;
  padding-top: 30px;
  opacity: 0.9;
}

.services .skill h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.services .skill p {
  margin-bottom: 30px;
}

.services {
  background-color: #f8f8f8;
}
.services .skill {
  background-color: #f8f8f8;
}
.services .skill h3 {
  margin-bottom: 24px;
}
.services .skill p.design-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #3dd2fb;
}

.services .skill p.front-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #36d1a1;
}
.services .skill .things ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 30px;
}
.services .skill .things ul li {
  display: inline-block;
}
.services .skill .design-skills ul,
.services .skill .development-skills ul,
.services .skill .programming-skills ul {
  list-style-type: none;
  padding-left: 0;
  font-weight: 600;
}

.services .skill #design {
  color: #3dd2fb;
}
.services .skill #front {
  color: #00cd97;
}
.services .skill #back {
  color: #ffaf38;
}

.services .skill .development-skills ul li,
.services .skill .design-skills ul li,
.services .section:nth-child(2) .skill .programming-skills ul li {
  font-family: "Raleway", sans-serif;
}
/* End Skills Section */

/* Start Projects Section */
.projects {
  background-color: #fbfbfb;
  padding: 70px 0;
}

.projects h2 {
  font-family: "Baloo Tamma", cursive;
  margin-bottom: 30px;
  font-size: 5rem;
}

.projects .proj {
  padding: 0;
  position: relative;
}

.projects .proj .overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: #d1d800;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  transform: scale(0);
  opacity: 0.8;
}

.projects .proj:hover .overlay {
  transform: scale(1);
}

.text a {
  color: #000;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #333;
  padding: 5px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.text p {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
  font-size: 15px;
  font-family: "Baloo Tamma", cursive;
}

.projects .controls {
  margin-bottom: 20px;
}

.view {
  display: flex;
  justify-content: center;
}
/* End Projects Section */

/* Start Contacts Section */
.contacts {
  color: #f8f8f8;
  background: url("../images/contact-bg.jpg") no-repeat;
  background-size: cover;
  padding: 70px 0;
}

.contacts h2 {
  padding-top: 80px;
  margin: 0;
  font-family: "Baloo Tamma", cursive;
  margin-bottom: 30px;
  font-size: 5rem;
  color: #6cfeb7;
}
.contacts .controls .form-group .form-control {
  background-color: #1b242f;
  border-color: #444;
  border-radius: 0;
  opacity: 0.9;
}

.contacts .controls ul.links {
  list-style-type: none;
  margin-top: 5px;
  padding-left: 0;
}

.contacts .controls ul.links li {
  display: inline-block;
  padding-right: 10px;
}

.contacts .controls .text-muted {
  margin-top: 30px;
}

.contacts .controls ul.links li a {
  color: #69fdb8;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -transition: opacity 0.3s ease-in-out;
}

.contacts .controls ul.links li a:hover {
  opacity: 1;
}
/* End Contacts Section */
