/* FONTS */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/static/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Baloo Tamma";
    src: url("../fonts/Baloo_Tamma/BalooTamma-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
}

/* LOGO FONT */
@font-face {
    font-family: "Permanent Marker", cursive;
    src: url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
}

/* CSS VARIABLES */
:root {
    --mainColor: #264653;
    --mainBGColor: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
    --logoColor: #dcfc8f;
}

/* GENERAL RULES */
button:focus {
    outline: 0 !important;
}

.custom-divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.custom-divider-line:first-child {
    margin-right: 0.2rem;
}
.custom-divider-line:last-child {
    margin-left: 0.2rem;
}
.custom-divider-line {
    width: 100%;
    max-width: 4rem;
    height: 0.1rem;
    background-color: var(--mainColor);
    border-radius: 1rem;
}
.fas.fa-s::before {
    color: var(--mainColor);
}

a.btn-outline-dark {
    color: var(--mainColor);
    border-color: var(--mainColor);
}

a.btn-outline-dark:hover {
    background-color: var(--mainColor);
    color: #fff;
}
/* NAVBAR */
.custom-navbar {
    background-color: var(--mainColor);
}
.custom-navbar a.navbar-brand {
    font-size: 1.5rem;
}

span.logo {
    font-family: "Permanent Marker", cursive;
    color: var(--logoColor);
}

.custom-navbar .navbar-nav .nav-link.active,
.custom-navbar .navbar-nav .nav-link {
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
    color: #f8f8f8;
    transition: all 0.5s ease;
}
.custom-navbar .navbar-nav .nav-link:hover {
    background-color: red;
}

/* HOME SECTION */
.home {
    height: calc(100% - 94px);
    min-height: 500px;
    background-image: var(--mainBGColor);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.home-content img.img-fluid {
    border-radius: 50%;
    border: 5px solid var(--mainColor);
    background-color: #f8f8f8;
}

.home-content-text span.greeting {
    color: var(--mainColor);
    margin-top: 15px;
    font-weight: normal;
    display: block;
    letter-spacing: 5px;
    text-align: left;
    font-size: 2.5rem;
    text-transform: capitalize;
    animation: myAnim 1s ease 1s 1 normal forwards;
}

.home-content-text span.name {
    display: block;
    margin-top: 0;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 6px;
    text-transform: capitalize;
    color: #dc3545;
    font-family: "Poppins", sans-serif;
}

.home-content-text span.job {
    color: var(--mainColor);
    letter-spacing: 5px;
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 40px;
    display: block;
}

.home-content-text p.lead {
    color: var(--mainColor);
}

/* PROJECTS SECTION */
.projects h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: var(--mainColor);
}

.projects .proj {
    padding: 0;
    position: relative;
}

.text .data {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    font-size: 15px;
    font-family: "Baloo Tamma", cursive;
    border-left: 5px solid var(--mainColor);
    padding: 15px 10px;
}

.text .data h5 {
    color: #dc3545;
}

.text .data h6 {
    color: var(--mainColor);
}

.text a {
    color: var(--mainColor);
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

/* ABOUT SECTION */
.about-section {
    background-color: #1abc9c;
    min-height: 300px;
}

.about-section h2 {
    color: #fff;
    font-weight: bold;
}

.about-content p.lead {
    font-size: 1.5rem;
    font-family: "Open Sans";
}

.about-section .custom-divider .custom-divider-icon .fas.fa-star {
    color: var(--mainColor);
}

/* CONTACT SECTION */
.contact h2 {
    color: #fff;
}

.contact .custom-divider .custom-divider-icon .fas.fa-star {
    color: #1abc9c;
}
.contact .custom-divider .custom-divider-line {
    background-color: #1abc9c;
}

.btn-outline-light.btn-social:hover {
    background-color: #1abc9c;
    border-color: #1abc9c;
}
/* FOOTER SECTION */
footer {
    background-color: #1a252f;
}
