@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Baloo Tamma";
  src: url("../fonts/Baloo_Tamma/BalooTamma-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

/* General */
button:focus {
  outline: 0;
}

/* Start Home Section */
.home {
   height: 100vh;
   min-height: 500px;
}

.home .content h1 {
  font-size: 70px;
  color: #042544;
  font-family: "Baloo Tamma";
}

.home .content h5.job {
  font-family: "Baloo Tamma";
  color: #69b8df;

}

.about {
  font-family: "Open Sans";
}

.home .control-btn .btn.btn-warning {
  background-color: #eeb64f;
  border-color: #eeb64f;
  color: #333;
  border-radius: 25px;
}

.home .control-btn .btn.btn-primary {
  background-color: #042544;
  border-color: #042544;
  border-radius: 25px;
}

.home .control-btn .btn.btn-primary:hover {
  background-color: #69b8df;
  border-color: #69b8df;
}

.social-links a.linkedin {
  color: #0e76a8;
}
.social-links a.github {
  color: black;
}
.social-links a.whatsapp {
  color: #25d366;
}

/* End Section One */

/* Start Skills Section */
.services {
  background: url("../images/two.jpeg") no-repeat;
  background-size: cover;
  padding-top: 70px;
  height: 100vh;
}

.services h2.heading {
  margin: 0;
  font-family: "Baloo Tamma", cursive;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #042544;
}

.services p.subheading {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 40px;
}


.service-block .card {
  margin-bottom: 20px;
}

.service-block h5.card-title {
  color: #dc3545;
}
/* End Skills Section */

/* Start Projects Section */
.projects {
  background-color: #fff;
  padding: 70px 0;
}

.projects h2.heading {
  font-family: "Baloo Tamma", cursive;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #042544;
}

.projects .proj {
  padding: 0;
  position: relative;
}

.text a {
  color: #000;
  position: absolute;
  bottom: 10%;
  right: 10%;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.text .data {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
  font-size: 15px;
  font-family: "Baloo Tamma", cursive;
  border-left: 5px solid #000;
  padding: 15px 10px;
}

.text .data h5 {
  color: #dc3545;
}

.projects .controls {
  margin-bottom: 50px;
}

.projects .controls button {
  outline: none;
}

.view {
  display: flex;
  justify-content: center;
}
/* End Projects Section */

/* Start Contacts Section */
.contacts {
  color: #f8f8f8;
  background: url("../images/contact-bg.jpg") no-repeat;
  background-size: cover;
  padding: 70px 0;
}

.contacts h2 {
  padding-top: 80px;
  margin: 0;
  font-family: "Baloo Tamma", cursive;
  margin-bottom: 30px;
  font-size: 3rem;
  color: #6cfeb7;
}
.contacts .controls .form-group .form-control {
  background-color: #1b242f;
  border-color: #444;
  border-radius: 0;
  opacity: 0.9;
}

.contacts .controls ul.links {
  list-style-type: none;
  margin-top: 5px;
  padding-left: 0;
}

.contacts .controls ul.links li {
  display: inline-block;
  padding-right: 10px;
}

.contacts .controls .text-muted {
  margin-top: 30px;
}

.contacts .controls ul.links li a {
  color: #69fdb8;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -transition: opacity 0.3s ease-in-out;
}

.contacts .controls ul.links li a:hover {
  opacity: 1;
}
.abodesigner {
  color: #042544;
}
/* End Contacts Section */

#wave {
  position: relative;
  height: 70px;
  width: 600px;
  background: #e0efe3;
}

#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 340px;
  height: 80px;
  background-color: white;
  right: -5px;
  top: 40px;
}

#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 300px;
  height: 70px;
  background-color: #e0efe3;
  left: 0;
  top: 27px;
}
