html {
  scroll-behavior: smooth;
}
/* FONTS */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/static/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Baloo Tamma";
    src: url("../fonts/Baloo_Tamma/BalooTamma-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
}

@font-face {
    font-family: "Lato", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
}

/* LOGO FONT */
@font-face {
    font-family: "Permanent Marker", cursive;
    src: url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
}

/* CSS VARIABLES */
:root {
    --mainColor: #005555;
    --mainBGColor: #c9e5e6;
    --mainNavbarBGColor:#0fccce;
}

/* GENERAL RULES */
button:focus {
    outline: 0 !important;
}

body {
    background-color: #f8f9fa;
}

.custom-divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.custom-divider-line:first-child {
    margin-right: 0.2rem;
}
.custom-divider-line:last-child {
    margin-left: 0.2rem;
}
.custom-divider-line {
    width: 100%;
    max-width: 4rem;
    height: 0.1rem;
    background-color: var(--mainColor);
    border-radius: 1rem;
}
.fas.fa-s::before {
    color: var(--mainColor);
}

a.btn-outline-dark {
    color: var(--mainColor);
    border-color: var(--mainColor);
}

a.btn-outline-dark:hover {
    background-color: var(--mainColor);
    color: #fff;
}
/* NAVBAR */
.custom-navbar {
    background-color: var(--mainNavbarBGColor);
}
.custom-navbar a.navbar-brand {
    font-size: 1.5rem;
}

span.logo {
    font-family: "Permanent Marker", cursive;
    color: var(--mainColor);
}

.custom-navbar .navbar-nav .nav-link.active,
.custom-navbar .navbar-nav .nav-link {
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
    color: var(--mainColor);
    transition: all 0.5s ease;
}

.custom-navbar .navbar-nav .nav-link.active:hover,
.custom-navbar .navbar-nav .nav-link:hover {
    color: #e63946;
}

/* HOME SECTION */
.home {
    height: calc(100% - 94px);
    min-height: 500px;
    background-color: var(--mainBGColor);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.home-content-text span.name {
    display: block;
    margin-top: 0;
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #005555;
    font-family: "Lato", sans-serif;
}

.home-content-text span.job {
    position: relative;
    color: #dc3545;
    font-size: 1.3rem;
    text-transform: capitalize;
    margin: 10px auto;
    text-align: center;
    display: block;
    font-family: "Lato", sans-serif;
    max-width: 500px;
}

.home-content-text span.job::before {
    content: " ";
    display: block;
    height: 2px;
    width: 130px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #dc3545;
    margin-right: 10px;
}

.home-content-text p.lead {
    color: var(--mainColor);
    margin-bottom: 40px;
}

.fa-smile::before {
    color: #dc3545;
}

.link {
    margin-right: 20px;
}
.social-links a i {
    color: var(--mainColor);
    font-size: 1.5rem;
}

/* PROJECTS SECTION */
.projects h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: var(--mainColor);
}

.projects .proj {
    padding: 0;
    position: relative;
}

.text .data {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    font-size: 15px;
    font-family: "Baloo Tamma", cursive;
    border-left: 5px solid var(--mainColor);
    padding: 15px 10px;
}

.text .data h5 {
    color: #dc3545;
}

.text .data h6 {
    color: var(--mainColor);
}

.text a {
    color: var(--mainColor);
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

/* ABOUT SECTION */
.about-section {
    background-color: #fff;
}

.about-section h2 {
    color: var(--mainColor);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
}

.about-text-section p.lead {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: var(--mainColor);
}

.custom-divider-icon .fas.fa-star::before {
    color: var(--mainColor);
}

.about-section .custom-divider .custom-divider-icon .fas.fa-star {
    color: var(--mainColor);
}

/* CONTACT SECTION */
.contact {
    background-color: #ffffcc;
    background-size: cover;
    background-attachment: fixed;
}

.contact h2 {
    color:var(--mainColor);;
}

.contact .custom-divider .custom-divider-icon .fas.fa-star::before {
    color: var(--mainColor);
}
.contact .custom-divider .custom-divider-line {
    background-color: var(--mainColor);;
}

.btn-outline-light.btn-social {
    background-color: #ffcc99;
}

.btn-outline-light.btn-social:hover {
    background-color: #a8dadc;
    border-color: #a8dadc;
}
/* FOOTER SECTION */
footer {
    background-color:#99cccc;
}

